$root-font-size:10px;
$base-font-family: "Rokkitt", "Helvetica Neue", Helvetica, Arial, sans-serif;

html {font-size: $root-font-size}

$small:  1rem;
$medium: 2rem;
$large:  3rem;
$xlarge: 4rem;
$xxlarge:5rem;


